Body {
	background-image: url('background.jpg');
	Color: yellow;
	background-size: 50px 50px;
	background-attachment: fixed;
	font-face:Comic Sans MS;
}
#cons {
	vertical-align: 100px;
}
#link{
    display:block;
    width:150px;
    height:80px;
}
