Body {
	background-image: url('memback.gif');
	Color: yellow;
	background-size: 150px 150px;
	background-attachment: fixed;
	font-face:Comic Sans MS;
}
#text {
	vertical-align: 100px;
	align: center;
}
